/**
 * 7.3.4 - Events Section
 */

#events-section {
	background-size: cover;
}

.events-section .entry-container strong {
	font-weight: 600;
}

.events-content-wrapper.section-content-wrapper .entry-summary,
.events-content-wrapper.section-content-wrapper .entry-content {
	margin-top: 0;
}

.events-content-wrapper {
    max-width: 1000px;
    margin: 0 auto;

    .event-list-description {

    	.event-title {
    		flex: 0 1 36%;
    	}

    	.entry-title {
    		flex-basis: 40%;
    	}
    }

    .entry-summary {
    	flex-basis: 60%;
    	margin-top: 0;	

    	p {
    		flex-basis: 47%;
    	}

    	.more-link {
    		display: inline-block;
    		margin-top: 0;
    	}
    }
}

.events-content-wrapper .hentry {
	border-bottom: 1px solid;
	padding-bottom: 35px;

	&:last-child {
		border: 0;
		padding-bottom: 0;
	}
}
.events-content-wrapper .date-week-day {
	line-height: 0.7;
	margin-right: 18px;
}

.events-article-wrapper .event-list-description ,
.events-content-wrapper .entry-summary {
    display: inline-block;
}

.date-month-year span {
    display: block;
}

.date-month-year .date-month {
	font-weight: 600;
}

.events-content-wrapper .entry-header {
	margin: 0;
}

.events-content-wrapper.section-content-wrapper .entry-title {
	line-height: 1.46;
}

.events-content-wrapper .entry-meta {
	margin: 0 0 21px;
}

.events-content-wrapper .entry-meta a,
.events-content-wrapper .entry-meta a:hover,
.events-content-wrapper .entry-meta a:focus {
	text-decoration: none;
}

.events-content-wrapper .entry-meta {
	clear: both;
	display: inline-block;
	float: left;
	margin-right: 25px;
	padding: 0 4px;
	width: 24%;
}

.events-content-wrapper .entry-date > span {
	display: block;
}

.events-content-wrapper .date-month-year {
	font-size: 16px;
	font-size: 1rem;
	line-height: 1.2;
	text-transform: uppercase;
}

.events-content-wrapper .date-week-day {
	font-size: 36px;
	font-size: 2.25rem;
	font-weight: 700;
	line-height: 1.33333333333;
}