/**
 * 7.3.5 - Slider
 */

#feature-slider-section {
    border: none;
    clear: both;
    display: block;
    overflow: hidden;
    padding: 0;
    position: relative;
    width: 100%;

    .entry-title {
        font-weight: 700;
    }
}


.sticky-playlist-enabled #feature-slider-section {
    min-height: calc(100vh - 61px);
}

.home .header-media .entry-title, #feature-slider-section .entry-title {
    margin-bottom: 0;
}

.slider-content-wrapper .entry-summary,
.custom-header-content-wrapper + .site-header-text {
    margin-top: 14px;
}

#feature-slider-section .slider-image-wrapper img,
#feature-slider-section .post-thumbnail img {
    height: 100%;
    left: 0;
    object-fit: cover;
    top: 0;
    max-width: 1000%;
    min-height: 100%;
    min-width: 100vw;
    position: absolute;
    width: 100%;
    z-index: -1;
}

.site-header-logo,
.slider-content-wrapper .title-image {
    max-width: 280px;
}

#feature-slider-section .owl-carousel .owl-item .title-image {
    display: block;

    img {
        width: auto;
    } 
}

.text-align-left .site-header-logo {
    margin-left: 0;
}

.text-align-right .site-header-logo {
    margin-right: 0;
}

.site-header-logo {
    margin: 0 auto;
}

.admin-bar #feature-slider-section {
    min-height: calc(100vh - 45px);
}

#feature-slider-section .wrapper {
    max-width: 100%;
    padding: 0;
}

#feature-slider-section .hentry {
    margin: 0;
    padding: 0;
    width: 100%;

    .hentry-inner {
         display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: center;
        justify-content: center;
        -ms-flex-align: center;
        align-items: center;
        position: relative;
        min-height: 100vh;
        position: relative;
    }
}

#feature-slider-section .post-thumbnail {
    height: 100%;
    margin: 0;
    position: absolute;
}

#feature-slider-section .slider-image-thumbnail {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#feature-slider-section .slider-content-wrapper {
    align-items: center;
    max-width: 1500px;
    margin: 0 auto;
    padding: 49px 30px;
    position: relative;
    width: 100%;
    z-index: 101;
}

.sticky-playlist-enabled.home.admin-bar #feature-slider-section {
    min-height: calc(100vh - 108px);
}

#feature-slider-section .entry-container {
    display: block;
}

#feature-slider-section .entry-container a {
    text-decoration: none;
}


#feature-slider-section .entry-summary,
#feature-slider-section .entry-content {
    display: none;
    margin-top: 14px;
}

#feature-slider-section .owl-dots {
    display: block;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    z-index: 199;
}

button.owl-dot {
    @include border(50%);
    border: 2px solid transparent;
    cursor: pointer;
    display: block;
    height: 10px;
    margin-bottom: 25px;
    width: 10px;

    &:last-child {
        margin-bottom: 0;
    }
}

#feature-slider-section .owl-dots button.owl-dot {
    display: block;
    height: 40px;
    margin-bottom: 0;
    width: 40px;

    &:focus {
        outline: none;
    }
}

.owl-dots button.owl-dot {
    &:focus {
        outline: none;
    }
}

#feature-slider-section .owl-prev,
#feature-slider-section .owl-next {
    background-color: transparent;
    background-image: none;
    border: 2px solid;
   @include border(50%);
    cursor: pointer;
    filter: alpha(opacity=0);
    letter-spacing: 0;
    height: 43px;
    -webkit-box-align:center;
        -ms-flex-align:center;
            align-items:center;
    -webkit-box-pack:center;
        -ms-flex-pack:center;
            justify-content:center;
    outline: none;
    opacity: 0;
    position: absolute;
    top: 48%;
    @include transition(0.3s);
    text-align: center;
    text-decoration: none;
    width: 43px;
    z-index: 199;
}

#feature-slider-section .owl-prev {
    left: 0;
}

#feature-slider-section .owl-next {
    right: 0;
}

#feature-slider-section .owl-prev:hover,
#feature-slider-section .owl-prev:focus,
#feature-slider-section .owl-next:hover,
#feature-slider-section .owl-next:focus {
    border-color: transparent;
    text-decoration: none;

    &:before {
        transform: scale(1.2);
        -o-transform: scale(1.2);
        -moz-transform: scale(1.2);
        -webkit-transform: scale(1.2);
    }
}

#feature-slider-section:hover .owl-next {
    right: 42px;
}

#feature-slider-section:hover .owl-prev {
    left: 42px;
}

#feature-slider-section .more-link {
    margin-top: 35px;
}