/**
 * 5.1 - Main Menu
 */

a {
    text-decoration: none;
}

a:focus {
    outline: thin dotted;
}

a:hover,
a:active {
    outline: 0;
}

.main-navigation ul {
    list-style: none;
    margin: 0;
    padding-left: 0;
}

.main-navigation li {
    margin: 0;
    position: relative;
}

.main-navigation .sub-menu a {
    padding-top: 7px;
    padding-bottom: 7px;
}

.site-header .social-navigation ul {
    padding: 14px 15px;
    text-align: center;
}

div#social-menu-wrapper .menu-inside-wrapper {
    width: 270px;
}

.main-navigation .menu-item-has-children > a,
.main-navigation .page_item_has_children > a {
    padding-right: 49px;
}

.main-navigation a  {
    display: block;
    font-weight: 500;
    text-decoration: none;
}

.search-container {
    padding: 21px;
}

.main-navigation a,
#primary-menu-wrapper .search-container {
    padding: 14px 30px;
}

.main-navigation ul ul {
    margin-left: 0.875em;
}

.main-navigation ul ul a {
    font-weight: 400;
    letter-spacing: 0;
    text-transform: capitalize;
}

.navigation-classic .main-navigation {
    clear: both;
    border: none;
}

.main-navigation ul.toggled-on {
    box-shadow: none;
    border-top: none;
}

.main-navigation ul li:hover > ul,
.main-navigation ul li.focus > ul {
    left: auto;
    right: 0;
}

.main-navigation ul ul li:hover > ul,
.main-navigation ul ul li.focus > ul {
    left: 100%;
}

.main-navigation ul ul .current_page_item > a,
.main-navigation ul ul .current-menu-item > a {
    font-weight: 500;
}

#primary-search-wrapper,
#social-menu-wrapper {
    display: none;
}

.menu-inside-wrapper {
    border: 1px solid;
    position: absolute;
    right: -100%;
    top: 61px;
    width: 100%;
    max-width: 100%;
    visibility: hidden;
    z-index: 199;
    -webkit-transition: all 0.2s ease-in-out 0s;
    -moz-transition: all 0.2s ease-in-out 0s;
    -o-transition: all 0.2s ease-in-out 0s;
    transition: all 0.2s ease-in-out 0s;
}

.is-open .menu-inside-wrapper {
    right: 0;
    visibility: visible;
}

body.menu-open {
    overflow-y: scroll;
    width: 100%;
}

.menu-toggle-wrapper {
    padding: 5px;
}

.menu-toggle {
    background-image: none;
    background-color: transparent;
    border: 0;
    display: block;
    font-weight: 400;
    line-height: 1.375;
    margin: 0 auto;
    text-align: right;
}

.navigation-default #primary-menu-wrapper .menu-inside-wrapper {
    padding: 15px 0;
}

.menu-toggle:hover,
.menu-toggle:focus,
.menu-toggle.selected {
    background-image: none;
    background-color: transparent;
}

#primary-search-wrapper .menu-toggle,
#social-menu-wrapper .menu-toggle {
    border: 0;
    display: inline-block;
    height: 36px;
    letter-spacing: 0;
    padding: 0;
    -webkit-text-shadow: none;
    text-shadow: none;
    text-align: center;
    width: 36px;
}

/* Dropdown Toggle */
.dropdown-toggle {
    background-image: none;
    background-color: transparent;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    display: block;
    font-size: 18px;
    font-size: 1.125rem;
    right: 0;
    line-height: 1.172;
    margin: 0 auto;
    padding: 14px 19px;
    position: absolute;
    text-shadow: none;
    top: 0;
}

.site-footer-menu .dropdown-toggle {
    display: none;
}

.dropdown-toggle:hover,
.dropdown-toggle:focus,
.dropdown-toggle:focus {
    background: transparent;
}

.dropdown-toggle:focus {
    outline: thin dotted;
}

.main-navigation ul ul {
    display: none;
}

.main-navigation ul .toggled-on {
    display: block;
}

#primary-search-wrapper > .social-navigation {
    display: none;
    float: left;
}

.menu-label {
    display: inline-block;
    font-weight: 500;
    margin-left: 7px;
    text-transform: uppercase;
}

/* Footer Menu */
.site-navigation {
    text-align: center;
}

.site-navigation ul {
    list-style: none;
    margin: 0;
}

.site-navigation .footer-menu > li {
    display: inline-block;
}

.site-navigation a {
    display: block;
    line-height: 1.615384615384615;
    font-weight: 700;
    font-size: 13px;
    font-size: 0.8125rem;
    padding: 7px 20px;
    text-decoration: none;
    text-transform: uppercase;
    outline-offset: -1px;
}

/**
 - Social Menu
 */

.mobile-social-search {
    clear: both;
}

.social-navigation,
.social-links-menu {
    font-size: 16px;
    font-size: 1rem;
    padding: 0;
}

.social-navigation ul,
.social-links-menu ul {
    list-style: none;
    margin: 0;
}

.social-navigation li,
.social-links-menu li {
    display: inline-block;
    margin: 0;
}

.social-navigation a,
.social-links-menu a {
    background-color: transparent;
    display: inline-block;
    font-size: 16px;
    font-size: 1rem;
    height: 36px;
    line-height: 36px;
    margin: 2px 4px;
    text-align: center;
    width: 36px;
}

.site-footer-menu .wrapper > #social-footer-navigation {
    margin-bottom: 21px;
    text-align: center;
}

#site-generator .social-navigation a:before {
    line-height: 38px;
}

.social-navigation a:before {
    content: "\f0c1";
}

.social-navigation a[href*="codepen.io"]:before {
    content: "\f1cb";
}

.social-navigation a[href*="digg.com"]:before {
    content: "\f1a6";
}

.social-navigation a[href*="dribbble.com"]:before {
    content: "\f17d";
}

.social-navigation a[href*="dropbox.com"]:before {
    content: "\f16b";
}

.social-navigation a[href*="facebook.com"]:before {
    content: "\f09a";
}

.social-navigation a[href*="flickr.com"]:before {
    content: "\f16e";
}

.social-navigation a[href*="foursquare.com"]:before {
    content: "\f180";
}

.social-navigation a[href*="plus.google.com"]:before {
    content: "\f0d5";
}

.social-navigation a[href*="github.com"]:before {
    content: "\f09b";
}

.social-navigation a[href*="instagram.com"]:before {
    content: "\f16d";
}

.social-navigation a[href*="linkedin.com"]:before {
    content: "\f0e1";
}

.social-navigation a[href*="path.com"]:before {
    content: "\f20c";
}

.social-navigation a[href*="pinterest.com"]:before {
    content: "\f231";
}

.social-navigation a[href*="getpocket.com"]:before {
    content: "\f265";
}

.social-navigation a[href*="reddit.com"]:before {
    content: "\f1a1";
}

.social-navigation a[href*="skype.com"]:before {
    content: "\f17e";
}

.social-navigation a[href*="stumbleupon.com"]:before {
    content: "\f1a4";
}

.social-navigation a[href*="tumblr.com"]:before {
    content: "\f174";
}

.social-navigation a[href*="twitter.com"]:before {
    content: "\f099";
}

.social-navigation a[href*="vimeo.com"]:before {
    content: "\f27d";
}

.social-navigation a[href*="wordpress.com"]:before,
.social-navigation a[href*="wordpress.org"]:before {
    content: "\f19a";
}

.social-navigation a[href*="youtube.com"]:before {
    content: "\f16a";
}

.social-navigation a[href^="mailto:"]:before {
    content: "\f0e0";
}

.social-navigation a[href*="spotify.com"]:before {
    content: "\f1bc";
}

.social-navigation a[href*="twitch.tv"]:before {
    content: "\f1e8";
}

.social-navigation a[href$="/feed/"]:before {
    content: "\f09e";
}

.social-navigation a[href*="amazon.com"]:before {
    content: "\f270";
}

.social-navigation a[href*="apple.com"]:before {
    content: "\f179";
}

.social-navigation a[href*="bandcamp.com"]:before {
    content: "\f2d5";
}

.social-navigation a[href*="behance.com"]:before {
    content: "\f1b4";
}

.social-navigation a[href*="deviantart.com"]:before {
    content: "\f1bd";
}

.social-navigation a[href*="etsy.com"]:before {
    content: "\f2d7";
}

.social-navigation a[href*="yelp.com"]:before {
    content: "\f1e9";
}

.social-navigation a[href*="500px.com"]:before {
    content: "\f26e";
}

.social-navigation a[href*="soundcloud.com"]:before {
    content: "\f1be";
}

/**
 - Post Navigation
 */

.post-navigation {
    clear: both;
}

.post-navigation a {
    display: block;
    text-decoration: none;
}

.post-navigation span {
    display: block;
}

.post-navigation .nav-subtitle {
    letter-spacing: 0.083em;
    margin-bottom: 0.583em;
    text-transform: uppercase;
}

.post-navigation .nav-title {
    font-weight: 600;
    display: block;
    text-rendering: optimizeLegibility;
}

.post-navigation .nav-previous,
.post-navigation .nav-next {
    position: relative;
    vertical-align: top;
}

.pagination .prev,
.pagination .next {
    width: 100%;
}

.image-navigation,
.comment-navigation {
    border-top: 1px solid;
    border-bottom: 1px solid;
    font-size: 13px;
    font-size: 0.8125rem;
    line-height: 1.6153846154;
    margin: 0 7.6923% 2.1538461538em;
    padding: 1.0769230769em 0;
}

.comment-navigation {
    margin-right: 0;
    margin-left: 0;
}

.comments-title + .comment-navigation {
    border-bottom: 0;
    margin-bottom: 0;
}

.image-navigation .nav-previous:not(:empty),
.image-navigation .nav-next:not(:empty),
.comment-navigation .nav-previous:not(:empty),
.comment-navigation .nav-next:not(:empty) {
    display: inline-block;
}

.image-navigation .nav-previous:not(:empty) + .nav-next:not(:empty):before,
.comment-navigation .nav-previous:not(:empty) + .nav-next:not(:empty):before {
    content: "\002f";
    display: inline-block;
    opacity: 0.7;
    padding: 0 0.538461538em;
}

.posts-navigation,
.pagination,
#content #infinite-handle {
    clear: both;
    text-align: center;
}

#content #infinite-handle {
    display: block;
}

#content #infinite-handle span {
    background: none transparent;
    display: inline-block;
    padding: 0;
}

.infinite-loader #ctis-loading img {
    width: 35px;
}

.infinite-loader {
    clear: both;
}

.posts-navigation a,
#content #infinite-handle span button {
    font-weight: 700;
    line-height: 1.4;
}

.pagination .prev,
.pagination .next {
    font-weight: 400;
    line-height: 1.75;
}

.pagination .page-numbers {
    display: inline-block;
    margin: 7px 0;
    padding: 8px 16px;
    text-transform: uppercase;
}

.pagination .page-numbers.current {
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.posts-navigation a,
#content #infinite-handle span button,
.header-media .more-link,
#feature-slider-section .more-link,
#hero-section .more-link,
.promotion-section .more-link {
    border: none;
    -webkit-border-radius: 28px;
    border-radius: 28px;
    display: inline-block;
    text-transform: uppercase;
}

#content #infinite-handle {
    z-index: 2;
}

#content #infinite-handle,
#content .infinite-loader {
    bottom: -35px;
    cursor: pointer;
    clear: both;
    margin: 0 auto;
    // position: absolute;
    text-align: center;
    width: 100%;
}

.archive-posts-wrapper .section-content-wrapper {
    position: relative;
}

body.infinite-scroll.infinity-end .archive-posts-wrapper .section-content-wrapper {
    padding-bottom: 0;
}