/**
 * 4.0 - Forms
 */

input {
    line-height: normal;
}

.more-link,
button[disabled]:hover,
button[disabled]:focus,
.button,
.entry-content button,
.entry-summary button,
input[type="button"],
input[type="button"][disabled]:hover,
input[type="button"][disabled]:focus,
input[type="reset"],
input[type="reset"][disabled]:hover,
input[type="reset"][disabled]:focus,
input[type="submit"],
input[type="submit"][disabled]:hover,
input[type="submit"][disabled]:focus {
    background-color: transparent;
    border: none;
    @include border(35px);
    display: inline-block;
    font-weight: 600;
    padding: 13px 28px;
    text-align: center;
    text-transform: uppercase;
}

.more-link,
.button,
.entry-content button,
.entry-summary button,
input[type="button"],
input[type="reset"],
input[type="submit"] {

    &:hover,
    &:focus {
        -webkit-box-shadow: 0px 15px 30px -17px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 15px 30px -17px rgba(0,0,0,0.75);
        box-shadow: 0px 15px 30px -17px rgba(0,0,0,0.75);
        transform: translateY(-5px);
        -o-transform: translateY(-5px);
        -moz-transform: translateY(-5px);
        -webkit-transform: translateY(-5px);
    }
 }

.entry-container .entry-content .button,
.entry-container .entry-summary .button {
    box-shadow: none;
}

button:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus {
    outline: thin dotted;
    outline-offset: -4px;
}

input[type="date"],
input[type="time"],
input[type="datetime-local"],
input[type="week"],
input[type="month"],
input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="number"],
textarea {
    border: 1px solid;
    margin-top: 7px;
    width: 100%;
}

input[type="search"] {
    -webkit-appearance: textfield;
}

input[type="search"]:-webkit-search-cancel-button,
input[type="search"]:-webkit-search-decoration {
    -webkit-appearance: none;
}

input[type="radio"],
input[type="checkbox"] {
    margin-right: 0.5em;
}

input[type="date"]:focus,
input[type="time"]:focus,
input[type="datetime-local"]:focus,
input[type="week"]:focus,
input[type="month"]:focus,
input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="number"]:focus,
textarea:focus {
    outline: 0;
}

.post-password-form {
    margin-bottom: 1.75em;
}

.post-password-form label {
    display: block;
    font-size: 13px;
    font-size: 0.8125rem;
    font-weight: 700;
    letter-spacing: 0.076923077em;
    line-height: 1.6153846154;
    margin-bottom: 1.75em;
    text-transform: uppercase;
}

.post-password-form input[type="password"] {
    margin-top: 0.4375em;
}

.post-password-form > :last-child {
    margin-bottom: 0;
}

.search-form,
.woocommerce-product-search {
    clear: both;
    position: relative;
}

input[type="search"].search-field {
    -webkit-appearance: none;
    margin: 0;
    padding: 12px 46px 12px 14px;
    width: 100%;
}

.search-submit {
    background-image: none;
    background-color: transparent;
    border: none;
    border-radius: 0;
    overflow: hidden;
    padding: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 49px;
}

.search-submit:hover,
.search-submit:focus {
    background-image: none;
    background-color: transparent;
}

select {
    border: none;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    font-size: 13px;
    font-size: 0.8125rem;
    padding: 7px 10px;
}