
/**
 * 8.0 - Media Queries
 */

/**
 * Does the same thing as <meta name="viewport" content="width=device-width">,
 * but in the future W3C standard way. -ms- prefix is required for IE10+ to
 * render responsive styling in Windows 8 "snapped" views; IE10+ does not honor
 * the meta tag. See https://core.trac.wordpress.org/ticket/25888.
 */

@-ms-viewport {
	width: device-width;
}

@viewport {
	width: device-width;
}


/*--------------------------------------------------------------
## Mobile
--------------------------------------------------------------*/

@import 'mobile';

/*--------------------------------------------------------------
## Mobile-horizontal 
--------------------------------------------------------------*/

@import 'mobile-horizontal';

/*--------------------------------------------------------------
## Tablet
--------------------------------------------------------------*/

@import 'tablet';

/*--------------------------------------------------------------
## Desktop
--------------------------------------------------------------*/

@import 'desktop';

/*--------------------------------------------------------------
## Landscape
--------------------------------------------------------------*/

@import 'landscape';

/*--------------------------------------------------------------
## Wide-width
--------------------------------------------------------------*/

@import 'wide-width';

/*--------------------------------------------------------------
## Large
--------------------------------------------------------------*/

@import 'large';

/*--------------------------------------------------------------
## Diagonal
--------------------------------------------------------------*/

@import 'diagonal';

/*--------------------------------------------------------------
## Ultra Wide
--------------------------------------------------------------*/

@import 'ultra-wide';