/**
 * 3.1 - Elements
 */

html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

hr {
    border: 0;
    height: 1px;
    margin: 0 0 1.75em;
}

ul,
ol {
    margin: 0 0 1.75em 1.5em;
    padding: 0;
}

ul {
    list-style: disc;
}

ol {
    list-style: decimal;
}

li > ul,
li > ol {
    margin-bottom: 0;
}

dl {
    margin: 0 0 1.75em;
}

dt {
    font-weight: 700;
}

dd {
    margin: 0 1.5em 1.75em;
}

img {
    height: auto;
    /* Make sure images are scaled correctly. */
    max-width: 100%;
    /* Adhere to container width. */
    vertical-align: middle;
}

del {
    opacity: 0.8;
}

table,
caption,
th,
td {
    border: 1px solid;
}

table {
    border-collapse: separate;
    border-spacing: 0;
    border-width: 1px 0 0 1px;
    margin: 0 0 1.75em;
    table-layout: fixed;
    /* Prevents HTML tables from becoming too wide */
    width: 100%;
}

caption {
    border-width: 1px 1px 0 1px;
    font-weight: 700;
    text-align: center;
}

th,
td {
    border-width: 0 1px 1px 0;
    font-weight: normal;
    text-align: left;
}

th {
    font-weight: 700;
}

tbody th {
    font-weight: 400;
}

thead th {
    border-width: 0 1px 1px 0;
}

caption,
th,
td {
    padding: 0.778em;
}

.displaynone {
    display: none;
}

.displayblock {
    display: block;
}

.cover-link {
    display: block;
    height: 100%;
}

.drop-cap:first-letter {
    float: left;
    font-size: 120px;
    font-size: 7.5rem;
    font-weight: 700;
    line-height: 0.6;
    margin: 14px 16px 5px -3px;
}

.event-list-description,
.events-content-wrapper .entry-summary,
.events-article-wrapper .entry-meta .entry-date,
.author-thumb,
.product-container a,
#team-dots,
.footer-contact,
#feature-slider-section .owl-prev, 
#feature-slider-section .owl-next,
.custom-header-media .wp-custom-header-video-button,
.archive-post-wrap .hentry-inner,
#feature-slider-section .slider-content-wrapper,
#scrollup {
    @include flex;
}

#gallery-section .gallery-item .gallery-icon a:before,
#gallery-section .tiled-gallery .tiled-gallery-item a:before,
.more-link,
#service-section .post-thumbnail img,
.button,
input[type="button"],
input[type="reset"],
input[type="submit"],
#team-dots li,
.owl-carousel .owl-dots button.owl-dot,
#promotion-section .play-video .play-button,
#abletone-logo-slider-section .owl-prev:before,
#abletone-logo-slider-section .owl-next:before,
#promotion-section .button.play-button:before,
.entry-content button,
.entry-summary button,
button,
#scrollup {
    @include transition(0.3s ease-in-out);
}

 #sticky-playlist-section .wrapper {
    padding-left: 30px;
    padding-right: 30px;
}

#service-section,
#featured-content-section .section-content-wrapper .hentry,
.service-section .hentry,
#stats-section .hentry,
#portfolio-content-section .hentry {

    .more-link {
        padding: 0;

        &:hover,
        &:focus {
            box-shadow: none;
            transform: none;
        }
    }
}