/**
 * 3.4 - Padding/Margin
 */

.menu-toggle {
	padding: 17px;
}

.main-navigation a {
	padding: 14px 0;
}

.section-subtitle {
	margin-top: 7px;
}

nav#site-footer-navigation {
    margin-bottom: 15px;
}

.archive-posts-wrapper .hentry .entry-summary p,
.archive-posts-wrapper .hentry .entry-content p {
    margin-bottom: 14px;
}

div#playlist-section .entry-content p:last-child,
div#playlist-section .entry-summary p:last-child {
    margin-top: 35px;
}

p {
	margin-top: 0;
}

.singular-content-wrap .entry-content,
.singular-content-wrap .entry-summary {
	margin-top: 0;
}

#contact-section .hentry {
	padding: 35px 0;
}

#testimonial-content-section .entry-title {
    margin-bottom: 0;
}

.section-heading-wrapper {
	padding-bottom: 42px;
}

#header-content .wrapper {
	padding: 20px 30px;
}

body #playlist-section .wp-playlist {
    margin-top: 21px;
}

.playlist-content-wrapper .wp-playlist .wp-playlist-current-item {
	padding: 10px;
}

.custom-header-content {
	padding: 30px 30px;
}

.pagination .page-numbers.prev,
.pagination .page-numbers.next {
	padding: 7px 21px;
}

.site-content > .wrapper {
	padding: 42px 0;
}

.site-content .wrapper > .sidebar {
	margin-top: 42px;
}

.author-info {
	padding: 55px;
}

.footer-widget-area {
    padding: 21px 0 0;
}

.archive-posts-wrapper .section-content-wrapper .entry-title {
	margin-bottom: 14px;
}

.team-content-wrapper .entry-container {
    padding: 42px;
}

.widget-column {
	padding: 21px 30px;
}

.above-footer {
	padding-top: 7px;
}

.single .site-main .entry-header,
.page .site-main .entry-header,
.archive .page-header,
.error404 .page-header,
.search .page-header,
.woocommerce-products-header {
	margin-bottom: 35px;
	text-align: center;
}

.section.no-section-heading {
	padding-top: 42px;
}

.section-heading-wrapper {
	margin: 0 auto;
	padding: 35px;
}

.comment-notes,
.comment-awaiting-moderation,
.logged-in-as,
.form-allowed-tags {
	margin: 0 0 35px;
}

.comments-area {
    padding-top: 35px;
}

.author-avatar,
.author-description,
.comments-title,
.comment-reply-title {
	margin: 0 0 24px;
}

.widget {
    margin: 0 0 42px;
}

.sidebar .widget .widget-wrap {
	border-bottom: 1px solid;
	margin-bottom: 0;
	padding: 30px;
}

.sidebar .widget:last-child {
	.widget-wrap {
		border-bottom: 0;
	}
}

.widget .widget-title {
	margin: 0 0 28px;
}

.content-area .section-heading-wrapper {
	padding-top: 0;
}

.footer-contact {
    margin-top: 42px;
}

.widget li {
	margin-bottom: 7px;
}

.widget li > ul,
.widget li > ol {
	clear: both;
	margin-top: 7px;
	margin-left: 14px;
}

.featured-video-content-wrapper,
.playlist-content-wrapper,
.product-content-wrapper,
.featured-content-wrapper,
.portfolio-content-wrapper,
.service-content-wrapper,
.stats-content-wrapper,
.events-content-wrapper,
.team-content-wrapper,
.testimonial-content-wrapper,
.abletone-logo-slider-content-wrapper {
	padding: 0 30px;
}

.section-content-wrapper .post-thumbnail {
	margin: 0 0 21px;
}

.abletone-logo-slider-section .section-content-wrapper .post-thumbnail {
	margin-bottom: 0;
}

.abletone-logo-slider-section .section-content-wrapper .entry-title {
	margin-bottom: 0;
	margin-top: 21px;
}

.section-content-wrapper .entry-header .entry-meta {
	margin-top: 7px;
}

.featured-content-wrapper.section-content-wrapper .entry-header .entry-meta {
	margin-bottom: 7px;
	margin-top: 0;
}

.archive-posts-wrapper .section-content-wrapper .entry-header .entry-title + .entry-meta {
    margin-top: 7px;
    margin-bottom: 0;
}

.archive-posts-wrapper .section-content-wrapper .entry-header .entry-meta {
    margin-top: 0px;
    margin-bottom: 7px;
}

.team-content-wrapper.section-content-wrapper .entry-meta {
	margin-bottom: 14px;
}

.section-content-wrapper .entry-summary,
.section-content-wrapper .entry-content,
.contact-us-form form {
    margin: 14px 0 0;
    width: 100%;
}

.section-content-wrapper .entry-container > :first-child {
	margin-top: 0;
}

.section-content-wrapper .hentry-inner > :last-child,
.section-content-wrapper .entry-container > :last-child {
	margin-bottom: 0;
}

.woocommerce-posts-wrapper {
	max-width: 1500px;
	margin: 0 auto;
}

.singular-content-wrap .entry-header .entry-meta {
	margin: 0 0 21px 0;
}

.comments-area {
	margin-top: 28px;
	padding-top: 28px;
}

.more-link,
.entry-content button,
.entry-summary button {
	clear: both;
    margin: 7px 0 0;
}

/* New */
.custom-header-content > :last-child,
.singular-content-wrap >:last-child,
.site-header-text > :last-child,
.section-description-wrapper > :last-child,
.taxonomy-description-wrapper > :last-child,
.widget-column > :last-child,
.widget-area .widget .hentry:last-child,
.widget-area .widget .hentry .entry-meta,
.widget-area > :last-child,
.widget > :last-child,
.widget li:last-child,
.widget embed:last-child,
.widget iframe:last-child,
.widget object:last-child,
.widget video:last-child,
.entry-content > :last-child,
.entry-summary > :last-child,
.page-content > :last-child,
.comment-content > :last-child,
.textwidget > :last-child,
.widget_nav_menu ul,
#colophon .widget li:last-child {
	margin-bottom: 0;
}

.widget-area .ewfeaturedpostpageimage .featured-image {
	margin-top: 0;
	margin-bottom: 0;
}

.custom-logo {
	margin: 0 auto;
}

.has-header-video .custom-header-content {
	padding-bottom: 178px;
}

.entry-title {
	margin: 0;
}

.widget-area .entry-meta {
	margin-top: 0;
}

.taxonomy-description-wrapper {
	margin-top: 7px;
}

#testimonial-content-section.has-post-thumbnail .entry-container {
	padding: 84px 30px 42px;
}

.post-navigation div + div,
.posts-navigation div + div {
	margin-top: 30px;
}

.post-navigation {
	padding-top: 28px;
}

.wp-caption .wp-caption-text {
	padding: 7px 14px;
}

button,
.button,
input[type="button"],
input[type="reset"],
input[type="submit"],
.posts-navigation a,
#content #infinite-handle span button,
.catch-instagram-feed-gallery-widget-wrapper .button,
.header-media .more-link,
#feature-slider-section .more-link,
#hero-section .more-link,
.promotion-section .more-link {
	padding: 13px 27px;
}

input[type="date"],
input[type="time"],
input[type="datetime-local"],
input[type="week"],
input[type="month"],
input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="number"],
textarea {
	padding: 12px 14px;
}

.site-footer-menu .wrapper > #social-footer-navigation {
    margin-bottom: 70px;
}

.above-footer {
	padding-bottom: 0;
}

.sidebar .ewnewsletter .widget-inner-wrap {
	padding: 0;
}

.promotion-section .entry-header {
	margin-bottom: 21px;
}