/**
 * 6.8 - Scroll Up
 */

#scrollup {
    -webkit-border-radius: 50%;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    display: none;
    bottom: 35px;
    height: 40px;
    line-height: 24px;
    justify-content: center;
    align-items: center;
    outline: none;
    padding: 7px;
    position: fixed;
    right: 30px;
    text-decoration: none;
    text-align: center;
    width: 40px;
    z-index: 999;
}

.sticky-playlist-enabled #scrollup {
    bottom: 77px;
}

#scrollup:hover,
#scrollup:focus {
    text-decoration: none;
}